<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">Angular Movie App</a>
    <div class="collapse navbar-collapse">
      <div class="d-flex ml-auto">
        <input
          #txtBuscar
          (keyup.enter)="searchMovies(txtBuscar.value)"
          class="form-control mr-2"
          type="search"
          placeholder="Buscar película..."
          aria-label="Search"
        />
        <button
          (click)="searchMovies(txtBuscar.value)"
          class="btn btn-outline-success"
          type="submit"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</nav>
